streamlit

pyowm
langchain
langgraph
langchain_classic
langchain-openai
langchain_core
langchain-community
langchain-huggingface

tavily-python
pillow

chromadb
langchain-chroma
sentence-transformers

pydantic
python-dotenv